
Library

Library/AnnotationManager

Library/AssetImportState

Library/AssetServerCacheV3

Library/AssetVersioning.db

Library/BuildPlayer.prefs

Library/BuildSettings.asset

Library/EditorUserBuildSettings.asset

Library/EditorUserSettings.asset

Library/InspectorExpandedItems.asset

Library/FailedAssetImports.txt

Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb

Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll

Library/ScriptAssemblies/Assembly-UnityScript-Editor.dll

Library/ScriptAssemblies/Assembly-UnityScript-Editor.dll.mdb

Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll

Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb

Library/ScriptAssemblies/CompilationCompleted.txt

Library/ScriptMapper

Library/assetDatabase3

Library/expandedItems

Library/guidmapper

Library/metadata/00/00000000000000001000000000000000
